.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.anchor-nav {
	display: flex;
	position: sticky;
	top: 10px;
	justify-content: center;
	width: 80%;
	background-color: teal;
	margin: auto;
	padding: 0.5rem;
	color: #FFE3AA;
	text-transform: uppercase;
	border-radius: 1rem;

}

.anchor-nav a {
	color: #ffe3aa;
}


body {
	background-color: rgba(229, 172, 103, 0.5);
	overflow: scroll; /* Show scrollbars */
}


.gallery-body {

	background-color: orange;
}

nav {

	background-color: ;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: center;

	
}

nav ul li {

	background-color: light blue;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);
}

nav ul li a {
	font-family: 'Times New Roman', serif;
/*	font-family: "Pixelify Sans", sans-serif;*/
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: forestgreen;
}

nav ul li a:visited {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	text-decoration: ;
	color: blue;
}

.spider-space {
	position: relative;
}
.spider-line {
	  position: absolute;
    left: 25px;
    top: 0;
    height: 200px;
/*    bottom: 0;*/
    width: 1px;
    background-color: rgba(142, 142, 142, 0.5);
  }



.spider {
	position: fixed;
	top: 70px;
	left: -3px;
	height: 80px;
	width: 80px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 771 796' enable-background='new 0 0 771 796' xml:space='preserve'%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM195.500000,496.000000 C186.005569,494.715729 180.131302,496.832703 174.477402,503.480774 C173.860977,504.205627 173.290649,504.943481 172.005508,505.060455 C163.067245,505.873901 155.954971,511.768402 147.518265,514.067017 C146.220871,514.420471 145.064011,515.555664 144.019699,516.521301 C141.152451,519.172607 138.626572,522.282166 133.986404,521.591370 C133.080933,521.456482 131.715866,522.256897 131.046234,523.039551 C126.761467,528.047363 120.622810,529.791870 115.027519,532.555725 C110.711456,534.687744 107.756592,538.095459 106.429924,542.980957 C105.214836,547.455566 101.450523,550.829590 100.500000,555.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='7.000000' d='%0AM318.500000,418.250000 C314.937073,416.911530 312.409546,419.379242 310.085388,421.114380 C307.008514,423.411499 304.239594,423.511505 300.993225,422.014648 C296.520264,419.952271 292.315369,420.230042 287.403778,421.672363 C283.203247,422.905914 277.867432,425.241089 273.522919,420.976654 C272.855865,420.321960 272.030701,420.295044 271.523865,420.547852 C267.061981,422.773499 262.572540,421.956726 257.988098,421.060974 C255.957733,420.664276 254.050278,421.392578 252.991943,423.495941 C252.007370,425.452728 252.418930,427.094299 254.003540,428.496002 C255.519867,429.837280 256.381439,431.673828 257.875519,433.127930 C260.645508,435.823669 262.401947,439.350281 260.499298,443.499695 C259.030975,446.701904 260.605896,449.562317 261.463318,452.382935 C256.045288,455.580627 253.098129,461.478973 247.547424,464.584778 C241.669434,467.873749 236.250671,471.973083 230.468903,475.448273 C226.926636,477.577423 225.114655,476.754150 223.503006,472.998718 C223.149139,472.174164 222.833328,471.333344 222.500000,470.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='12.000000' d='%0AM287.500000,596.000000 C285.969086,595.650085 284.115906,596.351562 284.134125,597.497864 C284.209229,602.232666 280.380310,605.039551 278.993164,608.997620 C276.537598,616.004089 276.049011,623.182861 277.000000,630.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM368.500000,442.000000 C373.044189,448.076874 379.876556,448.240448 386.498810,449.010284 C395.329285,450.036774 404.340637,449.111908 413.035858,451.887695 C415.806671,452.772217 419.025726,452.666382 421.995148,452.437012 C430.627350,451.770355 438.991486,453.976044 447.484772,454.683075 C453.823364,455.210754 460.478821,454.498383 466.512756,457.474152 C466.914917,457.672516 467.534332,457.617432 467.994965,457.482788 C478.501526,454.411346 489.170593,457.170410 499.444092,458.110718 C507.168518,458.817719 515.416687,458.284546 522.968323,461.085480 C524.230164,461.553497 525.450684,461.671997 526.483276,461.428894 C533.175842,459.853058 538.228699,464.276855 543.970276,466.093903 C544.741150,466.337799 546.534119,467.377533 545.000000,469.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10.000000' d='%0AM582.500000,638.500000 C582.344604,641.624146 583.119446,644.299011 584.905334,647.061218 C589.999451,654.939941 593.230652,663.768799 596.355957,672.551270 C597.330200,675.289124 599.145203,677.435364 600.699463,679.336975 C605.021973,684.625732 605.454163,691.183044 606.646851,697.071533 C608.309448,705.280151 614.186890,710.575378 617.455933,717.520752 C619.131653,721.081177 620.828125,724.516235 623.448853,727.544250 C626.721497,731.325378 625.415894,736.077026 625.500000,740.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM639.500000,517.250000 C636.434937,515.353638 635.531921,512.014526 635.129944,508.982758 C634.231384,502.206329 631.992310,496.281952 627.024048,491.475128 C626.349365,490.822357 626.026733,489.815857 625.495728,489.002808 C621.841064,483.407532 616.318970,481.135468 610.011841,479.937653 C605.773438,479.132690 601.811707,477.300720 597.547546,476.297913 C589.247009,474.345886 580.723938,472.670959 572.459106,472.015259 C565.081360,471.429962 559.495728,465.995056 551.975769,466.762695 C550.008118,466.963562 547.970886,466.983978 546.000000,467.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10.000000' d='%0AM378.000000,471.000000 C368.737640,469.438538 359.875854,466.041168 350.500000,465.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM250.500000,504.000000 C247.400879,496.797028 248.847427,494.204041 256.446564,490.393433 C261.732330,487.742889 266.682281,484.179260 265.980133,477.001953 C265.735565,474.501587 266.953156,472.349915 269.013977,472.132385 C276.367249,471.356293 282.741577,466.173584 290.500092,467.499451 C291.499390,467.670227 292.883759,467.470032 293.439575,468.057190 C298.106537,472.986725 304.671692,475.164795 309.662048,479.826538 C315.390717,485.177948 322.972198,485.443665 330.502045,483.507965 C335.361969,482.258606 336.035095,482.650665 337.000000,487.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM400.500000,483.500000 C407.098816,488.449280 415.183899,490.249756 422.609314,493.227356 C430.967499,496.578979 440.164368,497.842773 449.004822,499.980072 C449.634644,500.132355 450.603302,499.710236 450.960175,500.042755 C458.306213,506.887115 469.259735,503.557892 477.330444,510.091827 C482.571014,514.334534 490.181366,515.929749 496.161224,520.278259 C500.680359,523.564636 506.642975,524.894104 512.005859,526.984924 C518.985413,529.706116 525.669556,533.014893 531.986450,537.021362 C538.491882,541.147461 547.522278,542.811035 548.000000,553.000000 C552.963379,555.965637 553.212524,561.245728 553.848572,566.020142 C554.259155,569.102661 555.193420,571.485779 556.899292,574.066528 C561.578003,581.145020 566.221191,588.363892 565.534790,597.502625 C565.404968,599.230835 566.339172,600.656616 567.471558,602.023560 C572.298950,607.851135 575.143066,614.829285 578.421082,621.538574 C578.763123,622.238647 579.043823,623.646179 578.000000,624.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM404.500031,423.500031 C404.333374,423.833344 404.061371,424.472626 404.014954,424.456665 C397.513611,422.218079 391.589691,425.163300 385.507324,426.532562 C384.289795,426.806702 382.697174,427.171021 382.078064,428.054657 C378.677368,432.908325 373.503845,435.881683 369.267517,439.745087 C363.749969,444.776917 357.505157,450.614441 348.500000,447.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10.000000' d='%0AM312.000000,433.000000 C317.479492,435.632172 322.615173,438.688080 326.009521,443.993927 C327.625854,446.520477 331.067139,445.441895 333.222687,447.796112 C334.639404,449.343475 336.906219,450.313904 338.024597,452.487335 C339.033844,454.448700 340.484863,455.307922 342.974487,455.673615 C347.601654,456.353241 348.819519,460.641144 349.959198,464.512024 C350.378876,465.937500 350.147766,467.550171 350.537109,468.989960 C351.459839,472.402435 352.834900,475.420349 356.996338,476.025269 C364.932922,477.178986 372.367554,480.739197 380.561462,480.558746 C380.294586,484.823212 379.274994,487.894867 374.500000,487.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM626.500000,735.500000 C631.393311,735.665405 632.267639,740.471680 634.845520,743.148743 C637.042908,745.430664 638.468140,748.883911 637.000000,752.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM286.500000,203.500000 C287.373657,203.419373 288.638153,203.702576 288.418091,204.476715 C287.054840,209.273010 289.492004,213.838867 289.055634,218.798889 C288.678589,223.084503 288.174011,228.444901 290.430023,233.034409 C291.056305,234.308487 291.020355,236.008682 290.951233,237.497742 C290.870361,239.239838 289.834900,240.456528 288.031616,239.443695 C286.207520,238.419189 282.882721,240.159470 282.500000,236.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM523.500000,468.000000 C529.974792,470.585388 536.378601,473.880859 543.500000,470.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM234.000000,514.500000 C230.015762,516.195801 226.454819,518.337341 224.464462,522.482971 C223.533112,524.422852 222.260956,525.881714 222.848816,528.533508 C223.761581,532.651123 222.266876,536.724487 220.478027,540.489563 C215.886276,550.154053 213.258240,560.243530 213.511017,570.999756 C213.527130,571.684875 213.177994,572.497192 214.000000,573.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM383.500000,528.500000 C382.934540,532.789856 385.315369,536.128845 387.601440,539.173828 C390.207123,542.644653 391.578491,546.196045 391.579651,550.500000 C391.580048,552.000122 392.500000,553.500000 393.000000,555.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM217.500000,573.500000 C216.166672,572.491821 214.833328,572.969543 213.000000,573.694458 C213.000000,575.321838 213.104950,577.168091 212.980362,578.998657 C212.604828,584.516968 209.616730,589.091980 207.582718,594.034058 C205.913025,598.090942 205.312042,602.434204 208.000000,606.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM205.000000,453.500000 C198.523331,450.466736 191.832031,450.857117 184.980331,451.866516 C183.268951,452.118683 181.265457,451.100800 179.450089,450.089600 C174.546661,447.358307 168.544968,448.563721 163.490295,446.019287 C157.207535,442.856659 149.875931,443.453247 143.482010,440.539490 C140.194962,439.041534 136.962952,437.962372 132.943161,438.682953 C130.918091,439.045929 128.048370,439.082397 125.431618,438.203644 C122.754990,437.304779 119.444160,437.721619 117.002647,440.002838 C111.072495,445.543671 104.109177,448.651001 96.006149,449.555145 C89.262070,450.307617 84.299263,455.054565 79.182625,458.752686 C76.063049,461.007416 72.640648,462.121735 69.500000,464.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='7.000000' d='%0AM363.500000,442.500000 C358.038452,439.474396 351.752991,440.629761 345.947510,439.215515 C344.637939,438.896515 342.504059,439.146698 341.027802,438.857880 C334.203156,437.522644 334.238312,437.342896 331.000000,443.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10.000000' d='%0AM427.500000,399.500000 C427.243317,403.876678 426.779663,408.117401 432.974304,409.153656 C435.143280,409.516479 437.061401,411.838226 437.931793,414.027130 C441.349823,422.623169 448.375488,427.948883 454.925385,433.833038 C457.948639,436.549072 461.494812,434.568268 464.500000,436.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM307.000000,500.000000 C308.098724,503.115448 307.704071,506.073303 305.461487,508.463867 C303.144592,510.933716 302.293091,513.811340 302.543427,516.996582 C302.825745,520.588013 299.714844,523.798218 301.500000,527.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM457.999969,505.000000 C458.333313,505.833344 458.861633,506.642426 458.968903,507.503876 C459.771027,513.946411 461.499817,515.427429 468.500000,515.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM228.500000,465.000000 C224.486435,467.141602 221.403778,470.678955 216.549911,471.730438 C214.176804,472.244476 212.178253,475.390869 211.638321,478.028320 C210.915558,481.558990 209.139084,483.546143 206.033813,485.068970 C203.099731,486.507843 200.869156,488.801666 201.000000,492.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM503.000000,461.000000 C500.901855,465.356689 501.318054,466.060913 505.997162,466.528503 C507.515289,466.680237 509.041412,467.043060 510.490417,467.528625 C512.725342,468.277557 514.800537,468.636475 516.500000,466.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM284.500000,245.500000 C284.500000,251.833328 284.500000,258.166656 284.500000,264.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='7.000000' d='%0AM313.500000,483.500000 C312.285706,488.970795 307.745972,493.154358 307.500000,499.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM254.500000,504.500000 C251.414093,503.575623 249.283035,505.062927 246.934937,506.917633 C243.891739,509.321259 240.452927,511.284485 236.500000,512.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM284.000000,151.000000 C280.335358,151.062256 279.153748,152.999603 279.438354,156.505005 C279.625641,158.811859 280.302002,161.166672 279.500000,163.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM293.500000,396.500000 C295.392029,399.976837 296.147675,403.642670 294.978729,407.493530 C293.755737,411.522430 295.789032,415.500000 295.000000,419.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM683.000000,623.000000 C683.500000,623.666687 684.570251,624.548767 684.412292,624.966858 C682.714233,629.460876 685.602966,632.570557 687.493896,636.003357 C690.516724,641.490784 693.500000,647.000000 696.500000,652.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM400.500000,575.000000 C397.763214,572.491211 398.133820,567.924622 394.555420,565.901978 C394.437347,565.835205 394.209839,564.367737 395.398254,563.377869 C398.455292,560.831665 396.810181,558.236389 394.500000,556.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM277.500000,95.000000 C282.695129,96.928337 285.629944,103.556900 283.510193,108.504372 C283.010315,109.671089 281.552948,110.427452 282.000000,112.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM673.000000,599.000000 C672.615784,602.047119 673.560364,604.733704 675.525696,606.977478 C677.749084,609.515869 678.547180,612.263428 677.500000,615.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM212.500000,602.500000 C208.073517,608.829590 204.932068,615.648743 204.500000,623.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM546.500000,552.000000 C542.568726,554.018433 538.341614,553.718323 535.614197,550.405945 C534.116089,548.586670 532.438538,548.046936 530.500000,547.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM224.000000,476.000000 C220.459808,479.257141 217.752350,484.406860 211.500000,481.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='14.000000' d='%0AM427.500000,406.500000 C420.206299,409.435913 411.509613,407.775330 405.219818,414.747223 C402.684387,417.557617 397.725159,418.336609 396.500000,423.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM573.000000,626.500000 C574.760803,624.731506 576.920959,623.305237 578.921997,625.568970 C581.252258,628.205261 584.408752,630.709778 583.479004,634.995422 C583.291382,635.860352 582.833374,636.666687 582.500000,637.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM197.000000,502.500000 C200.843292,505.187744 205.442337,503.152069 209.500000,504.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM270.500000,666.500000 C270.552643,670.555908 269.325958,674.771729 272.000000,678.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8.000000' d='%0AM249.000000,494.500000 C244.500000,490.416595 239.741089,493.005859 235.563446,494.660217 C229.940857,496.886780 224.087997,496.029785 218.459534,496.601990 C213.748611,497.080872 208.189041,496.439850 203.515411,493.970825 C201.134415,492.712982 199.457565,493.393585 197.440323,494.921204 C195.317642,496.528656 195.838699,498.117889 196.477524,500.007599 C196.629211,500.456329 196.500000,501.000000 196.500000,501.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM283.000000,113.500000 C285.085327,116.416351 286.565247,119.415611 284.509186,123.005257 C283.764191,124.305901 284.102295,125.595131 284.451599,127.011932 C286.326721,134.618439 285.129761,142.319916 285.168610,149.999146 C285.189453,154.119705 286.221985,158.288910 286.000000,162.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='11.000000' d='%0AM349.500000,464.999969 C347.666656,466.166656 345.905182,467.472107 343.983154,468.467438 C341.098083,469.961456 335.627014,468.816559 334.097351,465.948090 C332.154663,462.305145 328.259766,461.762848 325.500000,459.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM274.000000,641.000000 C273.666687,648.166687 273.333344,655.333313 273.000000,662.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM280.000000,471.000000 C284.534851,476.620575 288.727081,477.069763 294.000000,472.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM289.500000,328.500000 C290.246185,331.462250 289.219727,335.102264 292.540955,337.327118 C293.929596,335.356384 294.799469,333.614227 294.500000,331.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='9.000000' d='%0AM641.000000,533.250000 C644.026306,535.257019 647.496338,536.299011 649.699219,539.877380 C651.468811,542.752014 652.966064,544.983948 652.139709,548.532532 C651.797363,550.003052 652.558472,552.210144 653.592163,553.421326 C655.727905,555.923828 656.763550,559.236816 659.500000,561.250000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM272.500000,51.500000 C274.578461,50.485172 276.409821,50.829384 278.385406,52.843300 C276.934875,56.454937 277.052765,60.275833 278.969543,64.015610 C279.948975,65.926537 279.694672,67.963989 279.030762,70.009987 C278.348663,72.112160 279.949280,72.597809 281.500000,73.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM624.000000,502.000000 C627.063354,504.988281 629.647400,508.695557 634.500000,509.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM196.500000,646.500000 C197.277252,648.739258 196.676422,650.760559 196.141006,653.033203 C194.869537,658.429993 194.333344,664.000000 193.500015,669.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='7.000000' d='%0AM665.000000,578.000000 C663.761963,579.726196 664.919495,580.741760 665.960266,582.032043 C668.515930,585.200439 670.195984,588.757629 670.014404,593.000610 C669.853638,596.756226 671.748108,598.585205 675.500000,598.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10.000000' d='%0AM381.000000,481.000000 C384.254059,480.402893 387.048553,481.937683 389.427155,483.604004 C392.423492,485.703125 395.085815,485.188843 398.003052,484.007538 C398.146210,483.949524 398.376495,484.066498 398.493744,483.990387 C402.802124,481.194061 399.187531,476.950348 400.261658,473.427338 C400.915588,471.282440 399.086304,468.363373 395.994873,468.050781 C392.646210,467.712158 389.249725,467.605164 388.944702,472.496552 C388.836700,474.228973 387.778503,475.747314 386.500000,477.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM48.000000,496.000000 C45.260826,498.927490 41.097019,500.430359 39.500000,504.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM274.000000,665.500000 C273.198517,669.798523 273.662598,674.245239 273.166870,678.576355 C272.715668,682.518677 270.399323,688.712036 275.500000,692.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM288.500000,245.000000 C292.446594,245.806702 291.777435,249.975403 291.246521,251.405914 C288.816559,257.953278 292.310150,264.157227 291.529327,270.503601 C291.077148,274.178955 292.322205,278.081818 290.211945,281.690155 C294.589264,284.501740 290.930847,289.909058 293.500000,293.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM389.000000,469.500000 C386.833344,469.166656 384.643738,468.453461 382.504974,468.582550 C378.578705,468.819458 377.378815,471.150818 378.445526,475.015045 C378.892456,476.634064 379.992920,478.168091 379.500000,480.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM284.500000,176.500000 C289.100983,179.827896 287.878876,184.947525 288.632904,189.639130 C285.775146,189.066055 282.914856,189.173904 280.500000,187.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM297.500000,553.500000 C291.919647,552.821777 292.085876,551.549561 288.415527,560.199097 C289.889832,561.030090 291.384918,561.872803 292.930298,562.743835 C293.889008,561.720154 294.694519,560.860107 295.500000,560.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM248.000000,497.500000 C239.663284,499.860870 236.256195,506.413177 234.642288,514.030151 C234.082062,516.674133 235.166672,519.666687 235.500000,522.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM101.500000,550.000000 C98.238243,548.233765 95.995552,548.930664 94.427864,552.468018 C93.680702,554.153931 92.166664,555.500000 90.999992,557.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM587.500000,483.499969 C590.833313,484.166656 594.166687,484.833313 597.500000,485.499969 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM299.500000,536.000000 C295.828125,536.330811 295.302795,536.769592 295.511169,539.499146 C295.613312,540.837402 295.833313,542.166687 296.000000,543.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM168.000000,448.500000 C167.925247,453.259979 172.166626,453.371857 175.000000,455.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM396.000000,489.000000 C397.976288,492.157837 400.249939,494.856140 404.500000,494.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM493.000000,525.000000 C493.397552,529.592529 497.130707,530.336365 500.500000,531.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM281.500000,86.500000 C280.390625,89.096153 280.124603,89.242958 281.072266,90.960114 C282.089569,92.803421 281.560852,94.333336 281.000000,96.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM293.500000,308.500000 C293.153168,315.200684 293.802368,321.851562 294.500000,328.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM598.500000,690.500000 C599.374695,695.379578 599.596252,695.515869 605.000000,694.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM480.000000,568.500000 C482.164368,570.833313 480.230988,573.166687 479.851288,575.912354 C483.770752,578.139648 486.614563,581.553345 489.112152,585.427734 C490.160217,587.053528 490.409943,588.869202 489.821594,589.897949 C489.157288,591.059448 487.136505,591.561890 485.500000,590.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM307.500000,423.500000 C308.000000,425.000000 308.103577,426.862885 309.078583,427.928070 C311.459625,430.529175 311.525604,433.371277 309.910431,435.943756 C307.824921,439.265228 311.117188,440.976562 311.500000,443.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM295.500000,479.500000 C299.260956,481.331482 303.033325,482.900360 307.000000,480.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM524.000000,462.500000 C523.214233,465.035706 523.865112,468.648834 519.500000,468.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='6.000000' d='%0AM641.000000,519.500000 C645.849426,523.838745 648.427002,528.887390 646.000000,535.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM682.000000,614.500000 C685.334229,615.124329 686.564331,617.326721 686.500000,620.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM678.500000,613.000000 C682.250305,614.816956 683.746521,619.554993 681.500000,622.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM185.500000,452.500000 C185.894745,455.559937 187.602692,457.525543 190.500000,458.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM576.500000,633.500000 C576.666382,637.583740 580.056519,636.831848 582.500000,637.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM553.500000,581.500000 C555.225708,584.835449 557.784485,584.283630 560.500000,583.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM284.500000,162.500000 C287.982178,164.153641 288.395477,167.149902 288.000000,170.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM288.000000,561.500000 C286.183899,564.158875 284.766968,566.864746 287.000000,570.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM660.500000,562.000000 C664.328125,565.724915 664.608582,571.289368 667.500000,575.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM233.500000,460.000000 C231.664658,460.030121 229.481461,459.588806 229.517334,462.499786 C229.544250,464.684875 228.063522,467.423279 231.500000,468.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM610.500000,489.500000 C611.918213,492.049622 614.462769,492.768829 617.000000,493.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM483.500000,524.500000 C488.172638,525.608215 492.700043,526.111206 496.000000,521.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM276.000000,694.500000 C276.640778,696.458130 278.501251,697.022400 279.945923,698.064087 C277.279877,701.222107 277.279877,701.222107 274.500000,699.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM401.500000,575.500000 C400.332764,576.450256 399.557434,578.057129 400.029175,578.985168 C400.570038,580.049133 401.333344,581.000000 402.000000,582.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM510.500000,521.500000 C512.964294,522.507568 514.077820,524.374695 514.000000,527.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM638.000000,518.000000 C636.899536,520.028076 636.487915,522.215149 636.500000,524.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM242.500000,457.500000 C236.808517,459.533813 236.468521,460.505249 239.000000,467.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM65.500000,474.500000 C63.918224,479.669769 58.694897,477.556458 55.500000,479.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM106.500000,540.000000 C104.413918,539.816833 102.434196,540.271851 100.500000,541.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM432.500000,453.500000 C431.939789,455.908966 434.253448,457.359955 434.500000,459.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM89.500000,575.500000 C88.833328,578.166687 88.166664,580.833313 87.500000,583.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM443.500000,455.000000 C443.346069,457.001068 443.900940,459.061188 443.000000,461.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM217.500000,545.000000 C215.385757,544.647888 213.363586,544.848145 211.500000,546.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM293.500000,573.000000 C288.502747,570.234680 288.460876,570.235168 288.526001,575.499695 C288.545074,577.041138 288.290771,578.440979 287.500000,579.750000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM303.000000,501.500000 C301.865540,503.344055 300.827454,505.220245 301.000000,507.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM231.500000,497.000000 C231.500000,498.666656 231.500000,500.333344 231.500000,502.055023 C233.658890,502.534943 235.829453,503.017487 238.000000,503.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM286.000000,169.500000 C287.352234,172.386795 288.407562,175.306564 287.000000,178.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM342.000000,469.500000 C341.818390,474.706482 345.763367,475.491638 349.500000,476.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM302.500000,423.500000 C301.222595,425.432495 300.156372,427.251343 297.547638,428.139893 C294.181183,429.286530 295.054352,432.740356 295.000000,435.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM128.000000,439.500000 C128.151718,441.334259 128.303436,443.168518 128.437195,444.785645 C130.205399,445.384399 131.852692,445.942200 133.500000,446.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM280.500000,588.500000 C279.294159,589.833313 280.714172,591.190613 280.451630,592.490234 C280.313690,593.172974 281.471985,594.652649 279.500000,594.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM209.000000,496.500000 C209.766556,498.200043 208.906906,500.713226 211.500000,501.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM377.500000,439.500031 C378.699738,438.900208 379.899475,438.300385 381.171570,437.664398 C380.754608,435.978241 380.385834,434.487000 379.974945,432.825439 C382.199860,433.566925 384.349945,434.283447 386.500000,435.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM139.000000,522.000000 C140.774323,526.128357 143.491028,525.544861 146.500000,523.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM227.500000,525.000000 C229.759903,527.293701 233.205078,524.846375 235.500000,527.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM274.000000,472.000000 C274.647278,473.787781 276.290375,474.708710 277.515442,475.985199 C278.644836,477.162018 277.728790,477.779083 277.000000,478.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM552.000000,560.000000 C550.161377,560.108337 548.271790,559.656616 546.500000,560.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM431.500000,461.000000 C436.463013,458.733978 440.885620,461.512085 445.500000,462.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM180.500000,505.500000 C178.756409,504.897491 177.373917,507.905914 175.500000,506.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM495.000000,458.500000 C494.910400,460.174377 495.301270,461.896790 494.500000,463.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM215.500000,503.000000 C217.899582,501.327026 220.593735,504.072601 223.000000,502.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM324.500000,454.000000 C323.485504,455.631226 323.448578,457.153870 325.000000,458.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM417.500000,498.500000 C419.560822,500.135834 422.564209,499.572388 424.500000,501.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM93.000000,451.500000 C92.367996,454.425720 93.642372,456.016998 96.500000,456.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM284.500000,578.500000 C287.267395,578.821716 288.763947,580.020386 287.491364,582.996277 C286.481049,585.358948 284.557343,584.883362 283.047333,583.925354 C281.714203,583.079590 281.220917,583.771179 280.500000,584.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM261.000000,494.000000 C262.000000,495.333344 263.000000,496.666687 264.000000,498.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM297.000000,555.000000 C297.716003,556.500000 297.716003,558.000000 297.000000,559.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.000000' d='%0AM237.500000,467.000000 C235.002792,465.655487 232.250305,465.332092 229.500000,465.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM428.500000,460.000000 C425.886719,458.978912 423.164093,459.707947 420.500000,459.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM93.000000,456.000000 C92.589172,457.891510 90.625534,457.609070 89.500000,458.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM295.500000,387.500000 C293.087921,390.721069 296.776062,394.247131 295.000000,397.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM79.500000,586.500000 C79.613441,589.584229 77.621246,591.878784 76.500000,594.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM288.000000,218.500000 C285.560516,218.388748 283.190125,218.404099 282.500000,221.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM425.000000,455.000000 C423.726227,456.333344 425.256042,457.666656 425.000000,459.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM315.500000,444.500000 C316.833344,445.000000 318.166656,445.500000 319.500000,446.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM340.500000,456.000000 C340.112183,457.151093 341.335419,458.762512 339.500000,459.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM253.000015,437.000000 C252.833344,438.166656 252.666672,439.333344 252.500015,440.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM698.500000,649.500000 C697.596619,652.262146 696.504883,654.954468 696.940857,658.008423 C697.104797,659.156799 697.709290,659.290710 698.500000,659.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM277.000000,133.500000 C277.238403,136.510544 279.202087,139.329391 278.000000,142.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM620.000000,490.500000 C617.292175,492.288239 616.236633,494.214172 619.500000,496.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM286.500000,585.000000 C286.833344,586.166687 287.166687,587.333313 287.500000,588.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM301.000000,534.000000 C299.211121,536.041870 300.078735,538.288086 300.500000,540.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.000000' d='%0AM690.500000,631.500000 C689.192261,633.511230 691.644409,634.112488 692.221558,635.324524 C691.087646,636.298157 690.418152,637.460510 689.000000,637.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='5.000000' d='%0AM280.500000,75.500000 C280.908539,79.000000 278.047607,82.500000 280.500000,86.000000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM218.000000,559.000000 C219.506592,559.735291 219.526184,561.107849 219.500000,562.500000 '/%3E%3Cpath fill='none' opacity='1.000000' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.000000' d='%0AM666.000000,577.000000 C667.412781,575.443848 668.634399,575.225647 669.500000,577.500000 '/%3E%3C/svg%3E");
}

.container {
    position: relative;
}

.vertical-line {

}



a:visited {
  color: black;
  text-decoration-color: hotpink;
  
}

a:hover {

}
.swap-example {
	background-image: url(../img/crab.png);
}

main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


p {
	font-family: font-family: 'Times New Roman', sans-serif;
/*	font-size: 1rem;*/
}




footer {
	font-family: 'Times New Roman', serif;
	font-weight: 100;
	color: seagreen;
/*	background-color: whitesmoke;*/
	max-width: 800px;
	margin: auto;
	

}

h1 {
	font-family: 'Times New Roman', serif;
	font-weight: 900;
	margin: 0rem;
}

h2 {
	font-size: 1.5rem;
	text-transform: capitalize;
}

h3 {
	font-family: 'Times New Roman', monospace;

/*This is a note*/


/*this is a comment*/
}




h4 {

}

p {
	font-family: 'Times New Roman', sans-serif;
}


/*Photo gallery css for gallery-test*/

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}





.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: orange;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;

}

.gallery-image img {
	width: 100%;
}


example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

/*

Name h2
Year date-label
Description desc-label
Notable disctintion notable-label
wiki link wiki-link*/

.list-item {
	display: flex;
/*	flex-wrap: wrap;*/
	box-shadow: inset 1rem 1rem #f9f3db;
	border-radius: 3px;

}



.list-item h2 {
	display: flex;
	font-family: "Times New Roman", serif;
/*	font-family: 'Pixelify Sans', cursive; */
/*	This will fall back to a default font when not connected*/
}

.date-label {

}


.list-item .date-label {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc-label {
/*	display: flex;*/
	font-weight: 400;
	margin-left:1.2rem;
	padding: 0.25rem;
	margin-top: -1rem;

}

.list-link {
	text-decoration: underline solid rgba(153,0,0,.5) 5px;
	color: darkgoldenrod;


}

.list-link p {
/*	margin: 0.1rem;*/
color: darkmagenta;
background-color: lightgray;
}

.list-link a {
	color: #f8e8d6;
	background-color: rgba(67, 67, 67, 0.3);
	padding: 0.4em;
	margin-left: 2rem;
	margin-bottom: 3rem;
	border: 1px solid rgba(67, 67, 67, 0.3);
}

.list-link p a:visited {
	color: magenta;
	background: lightgrey;
}

.list-link a:visited {
	color: darkblue;
	background: lightgrey;
}

.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
/*    	width: 100%;*/
    	z-index: 3;
    	color: #fff;
	    font-family: 'IBM Plex Mono', monospace;
    	font-size: 0.8rem;
    	padding: 1rem;
    	margin: 0.1rem;
}

.img-credit a {
	color: whitesmoke;
	text-shadow: black 1px 0 10px;
	background: black;
	border-radius: 2px;

}

/**/

.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 3px 3px gold;
	border-radius: 0.3rem;
	
}




.fancy-text {
	font-family: 'Nabla', cursive;

}

.fancy-background {
	background-color: #797979;
	padding: 1rem;
}

.fancy-background .fancy-text {
	font-size: xx-large;
}

.background-blue h3 {
	background: skyblue;
}



.crabgrounds6 {
	background-image: 
	linear-gradient(rgba(115, 191, 255, 0.5), rgba(229, 172, 103, 1.0)),
/*	linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),*/
  	url("../img/crab-background.png");
  	background-repeat: no-repeat;

}

.greens {
/*	text-shadow: 5px 5px #558ABB;*/
/*	background-color: goldenrod;*/
background-color: rgba(218,165,32,0.5);
}


.blues2 {
	color: #797979;
	background-color: greenyellow;
/*	this is a test item*/
}


.example-font .blues2 p {
	font-family: 'Crimson Pro', serif;
	font-size: 1.5rem;
/*	text-decoration: underline;*/
	text-decoration: underline  10px #FF3028;
	color: crimson;

}


.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	
	
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
}


.red {
	width: 300px;
	background-color: crimson;
	padding: 1rem;
}

.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}




.image-type-1 {
	background-color: greenyellow;
	padding: 2rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-2 {
	background-color: orange;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-3 {
	background-color: teal;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-4 {
	background-color: rebeccapurple;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-5 {
	background-color: rebeccapurple;
	padding: 4rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.mailing-link {
	display: flex;
}

.mailing-link img {
	display: flex;
	border-radius: 5rem;
	max-width: 400px;
	justify-content: center;
}

.lead-image img {

/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
/*	filter: drop-shadow(0 0 0.75rem #00bfff);*/
/*	filter: drop-shadow(0 0 0.75rem crimson);*/
	filter: drop-shadow(0 0 0.75rem #913814);
}

.lead-image {
	width: 100%;
	padding: 3rem;
}

.mailing-link a {

}

.listings {

}

.punchline {
/*	display: none;*/
	text-decoration: #00bfff wavy 2px underline;
	text-transform: lowercase;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}

.monotype {
			font-family: 'IBM+Plex', monospace;
		}

/*.blues {
	rgba(115, 191, 255, 0.5) 73bfff
}

.redsand {
	rgba(229, 172, 103, 0.5) e5ac67

}

.teallight {
	rgba(134, 206, 170, 0.5) 86ceaa

}*/


/*@media (min-width: 300px) {
	p {
		font-family: 'Nabla', cursive;
		font-size: 1rem;
	}
}

@media (min-width: 600px) {
	body {
	background-color: rgba(229, 172, 103, 0.5);

	}
	.punchline {
	text-decoration: crimson wavy 2px underline;
	text-transform: uppercase;

	}

}*/


/*.gallery-image {


  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: auto;
  width: 100%;
  max-width: 700px;
  


}
*/
.intro {
	background-color: skyblue;
}


.scifi-intro {
	margin: 1rem;
	padding: 1rem;
	background-color: #fafad2;
	border-radius: 1rem;
}

/*.scifi-intro h2 {
	margin: 0rem;
	padding: 0rem;
}
.scifi-intro p {
	
}*/


/*start of media queries*/
@media screen and (max-width: 500px){



body {
/*		background-color: #282828;*/
/*		color: #fff;*/
}

main {
	width: 100%
}


.list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: inset 0.1rem 1rem #f9f3db;
	border-radius: 3px;
}

.list-image {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-image img {
	max-width: 90%;
	margin:auto;
}

img {
	display: flex;
		align-items: center;
		width: 100%;
	}

.swap-example {
	background-image: url(../img/2001.png);
}

h1 {
	font-weight: 700;
	text-decoration: underline 2rem solid gold;
}

h2 {
	font-weight: 500;
	font-size: 2.0rem;
	margin-left: 1rem;
	padding-left: 0.;
}

p {
	font-size: 1.5rem;
	}

nav {
	background-color: rgba(255, 255, 255, 0.0);
	max-width: 100%;
	font-size: 1rem;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	border-radius: 0.5rem;
}
	


nav ul li {
	flex-flow: row wrap;
	list-style-type: none !important;
	padding: 0.1rem;
	text-align: center;
	margin-top: 0.15rem;
/*	width: 100%;*/
	

}

nav ul li a {

/*	text-decoration: overline;*/
	text-transform: uppercase;
}





.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
	border-radius:4;
}


}

@media screen and (min-width:501px){
	body {
		background-color: #67a0e5;
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}
