
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 4rem;

}

nav {
 
 	display: flex; 
 	justify-content: center; 
 	max-width: 800px;
 	margin: auto;
 	font-size: 1rem;
 	border-radius: 0.2rem;
 	text-transform: uppercase;
 /*	margin-right:1rem;*/
 }
 
 nav ul {
 	display: flex;
 	justify-content: center;
 	align-items: center; 
 	align-content: center;
 	flex-direction: row;
 	justify-content: space-between;
 	margin-block-start: 0em;
 	padding-inline-start: 0px;
 /*	justify-content: right;*/
 /*	margin-left: 1rem;*/
 
 
 }
 
 nav ul li {
 
 	display: flex; 
 	justify-content: center; 
 	text-align: center;
 	background-color: whitesmoke;
 /*	flex-flow: row wrap;*/
 /*	align-items: stretch;*/
 	list-style-type: none;
 	padding: 0.3rem;
 	margin: 0.1rem;
 	max-width: 100%;
 	border-radius: 0.5rem;
 /*	border: 1px solid	rgba(127,255,0,0.5);*/
 border: 1px solid	rgba(0,162,230,0.5);
 	border: 5px solid	rgb(102, 51, 153);
 }
 
 nav ul li a {
 	display: flex; 
 	justify-content: center; 
 	text-align: center;
 	font-family: 'Solway', serif;
 /*	font-family: "Pixelify Sans", sans-serif;*/
 	font-optical-sizing: auto;
 	font-weight: 700;
 	font-style: normal;
 
 	text-decoration: none;
 	color: black;
 }

nav ul li a button { 
  font-family: 'Solway', serif; 
  max-width: 100%; 
  color: gray; 
  border: none; 
  font-weight: 700; 
  font-style: normal;
  text-transform: uppercase; 
  font-size: 1rem;
  background-color: whitesmoke; 

}

 nav ul li a:hover {
 	color: purple;
 }
 
 nav ul li a:visited {
 	text-decoration: none;
 	color: gray;
 /* color: rgba(230,68,0,0.5)*/
 }
 
 ol li {
 	display: flex; 
 	justify-content: center; 
 	text-align: center; 
 }
 
 h1 {
 	display: flex;
 	justify-content: center;
 	font-family: "Yuji Syuku", serif;
 	font-size: 2rem;
 	color: whitesmoke;
 	text-shadow: #663399 2px 0 10px;
 /*	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
 
 }
 
 h2 {
 	display: flex; 
 	justify-content: center; 
 	color: black;
 	font-family: "Times New Roman", serif;
 }
 
 p {
 	display: flex; 
 	justify-content: center; 
 	font-family: "IBM Plex Sans", serif;
 }


 body {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	text-align: center;
 	background-color: rgba(153, 51, 204, 0.5);
 /*	rgb(153,51,204)*/
 }

.gallery-body { 
  rgba(153, 51, 204, 0.5);

}
 
 footer {
 	font-family: 'Playfair Display', serif;
 	font-weight: 100;
 	color: magenta;
 /*	background-color: whitesmoke;*/
 	max-width: 800px;
 	margin: auto;
 
 }
 
 .intro-text {
 	margin: 1rem;
 	margin-top: 2rem;
 	padding: 1rem;
 /*	background-color: rgba(0,162,230,0.3);*/
 	background-color: rgba(191,236,255, 0.4);
 	border-radius: 10px;
 
 
 }
 
 .center-text {
 	text-align: center; 
 }
 
 .center {
 	display: block; 
 	margin-left: auto; 
 	margin-right: auto; 
 	width: 50%;
 }
 
 /* .corner {
 	width: 0;
     height: 0;
     border-top: 100px solid rgba(191,236,255, 1.0);
     border-right: 100px solid transparent;
 }*/
 
 
 /*Adding corners to a div from https://codepen.io/Roye/pen/KKYNGmY*/
 
.container {
  position: relative;

}

.vertical-line { 

}

.corner {
 /*  width: 50%;*/
 /*  height: 50%;*/
   position: relative;
   background-color: rgba(191,236,255,0.5);
 }
 
 .corner::before, .corner::after {
   content: '';
   display: block;
   position: absolute;
   /* Keep these values the same so that the width and height of the borders is always equal */
   width: 15%;
   padding-bottom: 15%;
 }
 
 .corner::before {
   top: 0;
   left: 0;
   border-top: 5px solid rgba(191,236,255,0.8);
   border-left: 5px solid rgba(191,236,255,0.8);
   /* Add this if you want them to fall outside the corner */
   /* transform: translate(-5px, -5px); */
 }
 
 .corner::after {
   bottom: 0;
   right: 0;
   border-bottom: 5px solid #e64400;
   border-right: 5px solid #e64400;
   /* Add this if you want them to fall outside the box */
   /* transform: translate(5px, 5px); */
 }
 
 
 
 
 
 .intro-text p {
 /*	text-shadow: whitesmoke 1px 0 10px;*/
 }
 
 
 .flex-squares {
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 
 
 }
 
 
 .blue {
 	background-color: blue;
 	width: 40px;
 	height: 50px;
 	margin: 1rem;
 
 }
 
 .red {
 	background-color: orangered;
 	width: 40px;
 	height: 50px;
 
 }
 
 
 .purple {
 	background-color: mediumpurple;
 	width: 40px;
 	height: 50px;
 }
 
 
 .first-page {
 	font-style: italic;
 	color:red;
 }
 
 
 .main-image {
 	display: flex;
 	justify-content: center;

 }

img { 
	justify-content: center; 
	border: none;
    max-width: auto;
max-height: auto;

  }

  a:visited {
    color: black;
    text-decoration-color: hotpink; 

  } 
 
 .mountain {
 	display: flex; 
 	justify-content: center;
 	border: 2px solid #663399;
 	margin: 1rem;
 	max-width: auto;
 	max-height: auto;
 }
 
 .movie {
 	display: flex; 
 	justify-content: center; 
 	border: none;
 	margin: 1rem;
 	max-width: 100px;
 	max-height: 300px;
 }
 
 .listintrocontainer {
    display: flex;
    flex-direction: column;
    background-color: #d8bdf2;
    padding: 5px;
    border: 5px solid #663399;
    border-radius: 10px;
    max-width: 1200px;
    padding: 10px;
    margin: 20px auto;
  }
 
 img {
 	width: auto;
 	height: auto;
 }
 
 .main-image img {
 
 	max-width: 45%;
 	margin: auto;
 
 }
 
 
 .center-image {
 	display: block; 
 	margin-left: auto; 
 	margin-right: auto;
 }
 
 .main-image img {
 
 	display: flex; 
 	justify-content: center; 
 	max-width: 45%;
 	margin: auto;
 
 }
 
 .terminal {
 	background-color: black;
   	background-image: radial-gradient(
     		rgba(0, 150, 0, 0.75), black 120%
  			 );
   	height: 100vh;
 }
 
 .terminal .space {
 	color: white;
 	font: 1.3rem Inconsolata, monospace;
 	text-shadow: 0 0 5px #C8C8C8;
 }
 
 .terminal .space:after {
 	content: "";
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100vw;
 	height: 100vh;
 	background: repeating-linear-gradient(
     0deg,
     rgba(black, 0.15),
     rgba(black, 0.15) 1px,
     transparent 1px,
     transparent 2px
   );
 }

map { 
  justify-content: center;
  max-width: 200px;
  max-height: 100px; 

}

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
/*	background-color: orangered;*/
}


.gallery-descrip {

}


.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  
	vertical-align: middle;
}

buttongallery {
	background-color: rgba(153, 51, 204, 0.5);
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	text-align: center;
	text-transform: uppercase;
	filter: drop-shadow(1px 1px);
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image img {
	width: auto;
	aspect-ratio: auto;
	max-height: 600px;
	margin: auto;
}

/*end gallery*/

  p {
    font-family: font-family; 'Noto Sans', sans-serif; 

  }
 
 footer {
 	margin: 1rem;
 	padding: 1rem;
 	color: black;
 	border-radius: 10px;
 }

h2 {
  font-size: 2.5rem; 
  text-transofrm: capitalize; 
  max-width: 100%; 

} 

h3 { 
  font-family: 'IBM+Plex', monospace; 

}

h4 { 
  
}

p { 
  font-family: 'IBM Plex Sans', sans-serif; 
} 

/*Photo gallery css for gallery-test*/

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.button_holder {
	display: flex;
	flex-direction: row;
}

button_next { 
	
 }
button_previous { 

 }

.stepper {  }

.button {
	background-color: rgba(153, 51, 204, 0.5);
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}






example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
	
}

.hideThis {
	display: none;
}

/*

Name h2
Year date-label
Description desc-label
Notable disctintion notable-label
wiki link wiki-link*/

.rectangle {
	display: flex;
	flex-flow: column wrap;
}



.square {
	display: flex;
	max-width: 10rem;
	margin: auto;

}

.square-item {
	display: flex;
	border-radius: 5px;
}

.square img {
	max-width: 100%;
	
	padding: 0.5rem;
}


.list-item {
	display: flex;

	box-shadow: inset 1rem 1rem #f9f3db;
	border-radius: 3px;

}



.list-item h2 {
	display: flex;
	font-family: "Roboto Slab", serif;
/*	font-family: 'Pixelify Sans', cursive; */
/*	This will fall back to a default font when not connected*/
}


.list-item2 {
	display: flex;
	padding: 0.5rem;
/*	background-color: orangered;*/
/*	box-shadow: inset 1rem 1rem #f9f3db;*/
	border-radius: 30px;
	margin: 0.5rem;
	background: #bcd4e6;

}

.list-item3 {
	display: flex;
	padding: 0.5rem;
/*	background-color: orangered;*/
/*	box-shadow: inset 1rem 1rem #f9f3db;*/
	border-radius: 30px;
	margin: 0.5rem;
	background: #bcd4e6;

}


.list-item2 .list-image img {
	border-radius: 15px;
	max-width: 350px;
	margin: 1rem;
	box-shadow: 3px 3px gold;
	
	


}


.list-item2 h2 {
	display: flex;
/*	padding: 0 3px 3px 0;*/
	font-family: "Roboto Slab", serif;


/*	font-family: 'Pixelify Sans', cursive; */
/*	This will fall back to a default font when not connected*/
}

.list-item3 h2 {
	display: flex;

	font-family: "Roboto Slab", serif;

}



.list-item2 .desc-label {
/*	display: flex;*/
	font-weight: 400;
	margin-left:1.2rem;
	padding: 0.5rem;
	margin-top: -1rem;

}

.list-item3 .desc-label {
/*	display: flex;*/
	font-weight: 400;
	margin-left:1.2rem;
	padding: 0.5rem;
	margin-top: -1rem;

}

.list-image-column2 {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.list-image-column2 img {
	border-radius: 15px;
}

.list-image-column img {
	max-width: ;
	margin: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 15px;
	box-shadow: 2px 2px gold;
}

.date-label {

}
.listings2 .list-item2 .list-text-stack .date-label {
		font-weight: 400;
	margin-left:1.2rem;
	padding: 0.25rem;
	margin-top: -1rem;
}

.listings2 .list-item2 .list-text-stack h2 {
	margin-left: 1rem;
}

.list-item .date-label {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc-label {
/*	display: flex;*/
	font-weight: 400;
	margin-left:1.2rem;
	padding: 0.25rem;
	margin-top: -1rem;

}

.list-link {
	text-decoration: underline solid rgba(153,0,0,.5) 5px;
	color: darkgoldenrod;


}

.list-link p {
/*	margin: 0.1rem;*/
color: darkmagenta;
background-color: lightgray;
}

.list-link a {
	color: #f8e8d6;
	background-color: rgba(67, 67, 67, 0.3);
	padding: 0.4em;
	margin-left: 2rem;
	margin-bottom: 3rem;
	border: 1px solid rgba(67, 67, 67, 0.3);
}

.list-link p a:visited {
	color: magenta;
	background: lightgrey;
}

.list-link a:visited {
	color: darkblue;
	background: lightgrey;
}

.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.list-image-column {
	display: flex;
	flex-direction: column;
/*	padding: 2rem;*/
}

.list-image-column img {
	padding: 2px;
}

.list-image-column .img-credit {
	position: relative;
	bottom: 0;
	right: 0;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
/*    	width: 100%;*/
    	z-index: 3;
    	color: #fff;
	    font-family: 'IBM Plex Mono', monospace;
    	font-size: 0.8rem;
    	padding: 1rem;
    	margin: 0.1rem;
}

.img-credit a {
	color: whitesmoke;
	text-shadow: black 1px 0 10px;
	background: black;
	border-radius: 2px;

}

/**/

.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 3px 3px gold;
	border-radius: 0.3rem;
	
}



.fancy-text {
	font-family: 'Nabla', cursive;

}

.fancy-background {
	background-color: #b367e5;
	padding: 1rem;
}

.fancy-background .fancy-text {
	font-size: xx-large;
}

.background-blue h3 {
	background: skyblue;
}



.crabgrounds6 {
	background-image: 
	linear-gradient(rgba(115, 191, 255, 0.5), rgba(229, 172, 103, 1.0)),
/*	linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),*/
  	url("../img/crab-background.png");
  	background-repeat: no-repeat;

}

.greens {
/*	text-shadow: 5px 5px #558ABB;*/
/*	background-color: goldenrod;*/
background-color: rgba(218,165,32,0.5);
}


.blues2 {
	color: #797979;
	background-color: greenyellow;
/*	this is a test item*/
}


.example-font .blues2 p {
	font-family: 'Crimson Pro', serif;
	font-size: 1.5rem;
/*	text-decoration: underline;*/
	text-decoration: underline  10px #FF3028;
	color: crimson;

}


.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	
	
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
}


.red {
	width: 300px;
	background-color: crimson;
	padding: 1rem;
}

.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}




.image-type-1 {
	background-color: greenyellow;
	padding: 2rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-2 {
	background-color: orange;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-3 {
	background-color: teal;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-4 {
	background-color: rebeccapurple;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-5 {
	background-color: rebeccapurple;
	padding: 4rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.mailing-link {
	display: flex;
}

.mailing-link img {
	display: flex;
	border-radius: 5rem;
	max-width: 400px;
	justify-content: center;
}

.lead-image img {

/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
/*	filter: drop-shadow(0 0 0.75rem #00bfff);*/
/*	filter: drop-shadow(0 0 0.75rem crimson);*/
	filter: drop-shadow(0 0 0.75rem #913814);
}

.lead-image {
	width: 100%;
	padding: 3rem;
}

.mailing-link a {

}

.listings {

}

.punchline {
/*	display: none;*/
	text-decoration: #00bfff wavy 2px underline;
	text-transform: lowercase;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}

.monotype {
			font-family: 'IBM+Plex', monospace;
		}

/*.blues {
	rgba(115, 191, 255, 0.5) 73bfff
}

.redsand {
	rgba(229, 172, 103, 0.5) e5ac67

}

.teallight {
	rgba(134, 206, 170, 0.5) 86ceaa

}*/



/*.gallery-image {

 /*start of media query */
@media screen and (max-width: 600px){



body {
/*		background-color: #282828;*/
/*		color: #fff;*/

/*	background: rgb(131,58,180);*/
/*	background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/

background: rgba(153, 51, 204, 0.5);

}

main {
	width: 100%
}

.main-image img {

	max-width: 80%;
	border-radius: 40px;
	margin: auto;

}



.list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: inset 0.1rem 1rem #f9f3db;
	border-radius: 3px;
}

.list-item2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
/*	box-shadow: inset 0.1rem 1rem #f9f3db;*/
filter: drop-shadow(0 0 0.75rem darkgray);
	border-radius: 3px;
	border: solid #e7feff 5px;
	margin: 0.5rem;
}


.list-item3 {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
/*	box-shadow: inset 0.1rem 1rem #f9f3db;*/
filter: drop-shadow(0 0 0.75rem darkgray);
	border-radius: 3px;
	border: solid #e7feff 5px;
	margin: 0.5rem;
}

.list-text-stack {
	margin: 1rem;

}


.list-image {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-image img {
	max-width: 90%;
	margin:auto;
}

img {
	display: flex;
		align-items: center;
		max-width: 100%;
	}

.swap-example {
	background-image: url(../img/2001.png);
}

h1 {
	font-family: "Yuji Syuku", serif;
	font-weight: 700;
	text-decoration: underline 1.5rem solid gold;
	text-underline-offset: 0.2rem;
}

h2 {
	font-weight: 300;
	font-size: 1.5rem;
	margin-left: 1rem;
	padding-left: 0.;
}






p {
	font-size: 2rem;
	}

nav {

	background-color: ;
	max-width: 800px;

	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
/*	margin-right:1rem;*/
}

nav ul {
	max-height: 130px;
	display: flex;
/*	flex-direction: row-reverse;*/
/*	align-items: stretch;*/
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	flex-wrap: wrap;

	margin-block-start: 0em;
	padding-inline-start: 0px;
/*	justify-content: right;*/
/*	margin-left: 1rem;*/

	
}

nav ul li {

	background-color: whitesmoke;
/*	flex-flow: row wrap;*/
/*	align-items: stretch;*/
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	min-width: 45%;
	border-radius: 0.5rem;
/*	border: 1px solid	rgba(127,255,0,0.5);*/
	border: 1px solid	rgba(0,162,230,0.5);
	border: 5px solid	rgba(230,68,0,0.5);
}

nav ul li a {
	display: flex;
	justify-content: center;
	font-family: 'Solway', serif;
/*	font-family: "Pixelify Sans", sans-serif;*/
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: rgba(230,68,0,0.5);
	margin: auto;
}

nav ul li a button {
	font-family: 'Solway', serif;
	max-width: 100%;
	color: rgba(230,68,0,0.5);
/*	border: 1px solid	rgba(0,162,230,0.5);*/
/*	border: 5px solid	rgba(230,68,0,0.5);*/
	border: none;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1rem;
	background-color: whitesmoke;
}


	.flex-squares {
		display: flex;
		flex-direction: column;
		justify-content: space-between;


	}

	.nesting {
		display: flex;
		flex-direction: row;
	}

	.plantlist {
		font-size: 2rem;
	}

	.plantlist li {
		list-style-type: square;

	}




.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}



.blue {
	background-color: blue;
	width: 40px;
	height: 50px;
	margin: 1rem;

}

.red {
	background-color: orangered;
	width: 40px;
	height: 50px;

}


.purple {
	background-image: url(../img/BloodchildButler.jpg);
	background-color: mediumpurple;
	width: 40px;
	height: 50px;
}




.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}




}

@media screen and (min-width:601px) and (max-width:650px){
	body {
		background-color: rgba(153, 51, 204, 0.5);
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}

body {
/*	background-color: orangered;*/
}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}





	body {

/*	background-color: #dbf0f9;*/
/*	background-image: file:///D:/4502-class-example/4502-class-example/img/2001.png;*/
/*background-image: url("../img/2001.png");*/
}

	}

 @media screen and (max-width: 500px){
 
 nav ul {
 	max-height: 130px;
 	display: flex;
 	flex-direction: column; 
 	justify-content: center;
 	margin-block-start: 0rem;
 	padding-inline-start: 0px;
 
 }
 
 nav ul li {
 	max-width: 100%;
 	min-width: 40%;
 }
 
 
 body {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	text-align: center;
 	background-color: rgba(153, 51, 204, 0.5);
 /*	rgb(153,51,204)*/
 }
 
 	h1 {
 		font-family: "Yuji Syuku", serif;
		margin-top: 0.5rem; 
 		margin-left: 2rem;
 		justify-content: space-around;
 }
 
 	h2 {
 		margin-left: 1.5rem; 
 }
 
 .main-image img {
 	max-width: 80%;
 	border-radius: 30px;
 /* 	/* margin: auto;* */
 }
 
 	.flex-squares {
 		display: flex;
 		flex-direction: column;
 		justify-content: space-between;
 
 
 	}
 
 	.nesting {
 		display: flex;
 		flex-direction: row;
 	}
 
 { @media screen and (min-width:555px; max-width:888px){
 	body {
 		background-color:
 }
